<div class ="home-color">
<div class="container text-center">
	<h1>ようこそtorobaへ！</h1>
	<p class="row text-left about-text">
		ここは普段話せない愚痴や悩みを吐露する場を目的としたSNSです。<br>
		簡単な愚痴や悩みをつぶやき、反応してくれた人とzoomを使用してお話をして、スッキリしましょう！
	</p>

	<h3>使い方</h3>
	<p class="row text-left about-text">
		①ログインをする<br>
		②簡単な愚痴の内容を書き、ジャンルや聞き手に求めるものなどを選択する<br>
		③反応をくれた人とDMで対話する時間などを決める<br>
		④zoomで部屋を作り、その部屋へURLをDMで送る<br>
	</p>
	<%= link_to "新規登録", new_user_registration_path, class:"btn btn-info" %>
	<%= link_to "ログイン", new_user_session_path, class:"btn btn-info" %>
</div>
</div>